/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: white;
  padding: 2rem;
  text-align: center;
}

header h1 {
  font-size: 5rem;
  letter-spacing: 4px}

header h1 span {
  color: #fffb19;
}

nav {
  margin-top: 1rem;
}

nav a {
  color: rgb(26, 1, 1);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
   font-size: 16px; 
}



nav a:hover {
  color: #d8ca07;
}

section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: rgb(151, 247, 234);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section h2 {
  color: #0077b6;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #0077b6;
  color: white;
  margin-top: 2rem;
}
